/* Container Styles */

.containerest {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  padding: 64px 16px;
}

/* Responsive */
@media (max-width: 1024px) {
  .containerest {
    width: 100%;
    padding: 48px 24px;
  }
}

@media (max-width: 768px) {
  .containerest {
    width: 100%;
    padding: 32px 16px;
  }
}

